<link
  rel="stylesheet"
  href="https://unpkg.com/@ag-grid-community/core@27.1.0/dist/styles/ag-grid.css" />
  <link
  rel="stylesheet"
  href="https://unpkg.com/@ag-grid-community/core@27.1.0/dist/styles/ag-theme-alpine.css" />
<div class="container">
  <h1>{{ title }}</h1>
  <p><a routerLink="/sample-model">Sample Form from Model</a> </p>
  <a routerLink="/sample-json">Sample Form from JSON</a>
  <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options"></formly-form>
    <button type="button" mat-raised-button color="warn" (click)="options.resetModel()">Reset</button>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
  <pre>
    {{model | json}}
  </pre>
</div> -->
<lib-chart></lib-chart>
<lib-my-lib>test</lib-my-lib>
<router-outlet></router-outlet>